
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color:rgb(50, 48, 48); */
    font-family: sans-serif;
}

.search{
    display: flex;
    align-items: center;
    background: rgb(61, 60, 60);
}
#logo{
    margin-left: 8%;
    color: orange;
    font-size: 4rem;
}
input{
    margin-left: 10%;
}
.form-control{
    width: 25%;
}
i{
    color: orange;
}
.form-icon{
    width: 8%;
    display: flex;
    justify-content: space-between;
    color: orange;
    margin-left: 10%;
}
.icon-research{
    background:white;
}
.nav-bar{
    display: flex;
    flex: 0.1;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}
.nav-left ul{
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 120%;
}
.nav-left ul a{
    text-decoration: none;
}
a:hover{
    color: rgb(244, 139, 139);
}
.text-header{
    text-align: center;
    color: white;
}
.image img{
    margin: auto;
    margin-top: 5px;
    background: #fff;
    height: 40vh;
}

.home{
    display: flex;
    justify-content: space-between;
}
.bag{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 1%;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
footer{
    background: rgb(190, 166, 166);
}
.footer-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-card2 img{
    width: 5%;
}
.footer-card2{
    background: rgb(214, 188, 188);
    display: flex;
    justify-content: center;
    align-items: center;
}


#searchBtn {
    padding:12px;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
}