/* 
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.search{
    display: flex;
    align-items: center;
    background: rgb(61, 60, 60);
    
}
#logo{
    margin-left: 8%;
    color: orange;
    font-size: 4rem;
}
#searchBtn {
    padding:12px;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
}
input{
    margin-left: 10%;
}

.form-control{
    width: 25%;
}
i{
    color: orange;
}
.icon-research{
    background:white;
}
.form-icon{
    width: 8%;
    display: flex;
    justify-content: space-between;
    color: orange;
    margin-left: 10%;
}
.nav-bar{
    display: flex;
    flex: 0.1;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}
.nav-left ul{
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 120%;
}
.nav-left ul a{
    text-decoration: none;
}
a:hover{
    color: rgb(244, 139, 139);
}
.text-header{
    text-align: center;
    color: white;
}
.image img{
    margin: auto;
    margin-top: 5px;
    background: #fff;
    height: 40vh;
} */


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
}
.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.form-add {
    flex: 1;
    padding: 10px;
}
.table-data {
    flex: 2;
    padding: 10px;
    border-left: 1px dotted #ccc;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr,td, th {
    border: 1px solid #ccc;
    padding: 10px;
}
th {
    background: rgb(134, 134, 134);
}
form {
   margin-bottom: 10px;
}
a {
    background: #000;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
