<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="../../css/seller.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../js/seller.js" defer></script>
</head>
<body>
    <nav>
        <div class="search">
            <h2 id="logo">SP-Fashion</h2>
            <input id="searchBtn" class="form-control" type="text" placeholder="Search">
            <div class="icon-research">
                <i class="large material-icons"> search</i>
            </div>
            <div class="form-icon">
                <i class="large material-icons"> person</i>
                <i class="large material-icons"> shopping_cart</i>
            </div>
        </div>
      

         <div class="nav-bar">
            <div class="nav-left">
                <ul>
                    <li><a href="../Customer/Customer.html">Seller</a></li>
                    <li><a href="../../project.html">Customer</a></li>
                </ul>
            </div>
            <div class="nav-left">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <form>  
        <button>CREATE PRODUCT</button> -->

        <!-- <h2>Create Account</h2> -->
        <!-- <fieldset>
            <div class="form-action">
                <label for="name">Name :</label>
                <input type="text" placeholder=""><br>
            </div>
            <div class="form-action">
                <label for="price">Price:</label>
                <input type="number" placeholder="price"> <br>
            </div>
            <div class="form-action">
                <label for="decription">Decription:</label>
                <input type="text"><br>
            </div>
            <div class="form-action">
                <label for="currency">Currency:</label>
                <input type="text"><br>
            </div>
                <label for="img">image :</label>
                <input type="file"><br>
            <div class="form-action"></div>
        </fieldset> -->
    <!-- </form> -->

    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localstorage</title>
    <link rel="stylesheet" href="../../css/seller.css">
    <script src="../seller/seller.js" defer></script>
</head>

<body>
    <div class="container">
       <div class="form-add">
        <form>
            <input type="text" id="product-name" placeholder="Product Name" required>
            <button>Add +</button>
        </form>
        <a href="../Customer/Customer.html">View customer</a>
       </div>
       <div class="table-data"></div>
    </div>
    <h1 id="result"></h1>
</body>

</html>



</body>
</html>


    
