<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Localstorage</title>
    <link rel="stylesheet" href="css/seller.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="js/seller.js" defer></script>
</head>
<body>
    <nav>
        <div class="search">
            <h2 id="logo">SP-Fashion</h2>
            <input id="searchBtn" class="form-control" type="text" placeholder="Search">
            <div class="icon-research">
                <i class="large material-icons"> search</i>
            </div>
            <div class="form-icon">
                <i class="large material-icons"> person</i>
                <i class="large material-icons"> shopping_cart</i>
            </div>
        </div>
        <div class="nav-bar">
            <div class="nav-left">
                <ul>
                    <li><a href="../Customer/Customer.html">Seller</a></li>
                    <li><a href="../../index.html">Customer</a></li>
                </ul>
            </div>
            <div class="nav-left">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="form-add">
            <form>
                <input type="number" id="product-UID" placeholder="Product UID" >
                <input type="text" id="product-name" placeholder="Product Name" >
                <input type="number" id="product-price" placeholder="Product Price" >
                <input type="text" id="product-condition" placeholder="Product Condition" >
                <input type="text" id="product-currency" placeholder="Product Currency" >
                <input type="text" id="product-image" placeholder="Upload your image" >
                <button class="add">Add +</button>
            </form>
        </div>
         <a href="../Customer/Customer.html">View customer</a>
        <div class="table-data"></div>
     </div>
</body>
</html>