<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Customer</title>
    <link rel="stylesheet" href="css/customer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="js/main.js" defer></script>
</head>
<body>
    
    <nav>
        <form action="form">
            <div class="search">
                <h2 id="logo">SP-Fashion</h2>
                <div class="card-header">
                    <input type="text" placeholder="Search..." id="search">
                </div>

                <div class="icon-research">
                    <i class="large material-icons"> search</i>
                </div>
                <div class="form-icon">
                    <i class="large material-icons"> person</i>
                    <i class="large material-icons"> shopping_cart</i>

                </div>
            </div>
        </form>

          <div class="nav-bar">
            <div class="nav-left">
                <ul>
                    <li><a href="../seller/seller.html">Seller</a></li>
                    <li><a href="../../index.html">Customer</a></li>
                </ul>
            </div>
            <div class="nav-left">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="picturBackground">
        <span>#FASHIONPHILE</span>
    </div>
    <div class="container" id="container"></div>

    <footer>
        <h1>About Us</h1>
        <div class="footer-card">
            <div class="footer-card1">
                <p>Customer Service</p> 
                <p> Contact Us</p>
                <p> My Account</p>
                <p>Shipping</p> 
                <p>Returns</p> 
                <p>FAQ</p> 
                <p>Give us feedback</p> 
            </div>
            <div class="footer-card1">
                <p>Sell With Us</p>
                <p>How to sell</p> 
                <p>Submit an item</p>
                <p>FASHIONPHILE Refresh</p>
                <p>Designer Directory</p>
                <p>Consignment</p>
                <p>Sold items</p>
            </div>
            <div class="footer-card1">
                <p>Shop With Us</p>    
                <p> Authenticity</p>   
                <p> Certified</p>   
                <p> Gift Cards</p>   
                <p> Personal Shopping</p>   
                <p> FASHIONPHILE Reserve</p>   
                <p>Subscribe to newsletter</p>    
            </div>
                <div class="footer-card1">
                <p> About Us</p>
                <p>About</p>
                <p> Locations</p>
                <p> Careers</p>
                <p>Sustainability</p>
                <p>Influencer Program</p>
                <p>Partners Program</p>
                <p>Brand & retail partners</p>
                <p> Test your skills</p>
            </div>
        </div>
        <div class="footer-card2">
            <h2>#FASHIONPHILE</h2>
            <p>Follow #fashionphile on social media</p>
            <img src="../assets/images/facebook-icon-png-removebg-preview.png">
            <img src="../assets/images/Telegram-icon-removebg-preview.png">
            <img src="../assets/images/ig-removebg-preview.png">
            <img src="../assets/images/gmail-removebg-preview.png">
        </div>
    </footer>
</body>
</html>