<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Customer</title>
    <link rel="stylesheet" href="css/customer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="js/main.js" defer></script>
</head>
<body>
    
    <nav>
        <form action="form">
            <div class="search">
                <h2 id="logo">SP-Fashion</h2>
                <div class="card-header">
                    <input type="text" placeholder="Search..." id="search">
                </div>

                <div class="icon-research">
                    <i class="large material-icons"> search</i>
                </div>
                <div class="form-icon">
                    <i class="large material-icons"> person</i>
                    <i class="large material-icons"> shopping_cart</i>

                </div>
            </div>
        </form>

          <div class="nav-bar">
            <div class="nav-left">
                <ul>
                    <li><a href="../seller/seller.html">Seller</a></li>
                    <li><a href="../../project.html">Customer</a></li>
                </ul>
            </div>
            <div class="nav-left">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container  mt-5">
        <a href="../../project.html">Customer</a>
    </div>
    <div class="container" id="container"></div>
<!--     
    <div class="card">
        <div class="card-header">
            <input type="text" placeholder="Search...by Rady" id="search">
        </div>
        <div class="card-body">
            <div class="add-box">
                <input type="text" placeholder="Task name" id="task" autofocus>
                <select name="" id="priority">
                    <option value="green">NORMAL</option>
                    <option value="orange">HIGHT</option>
                    <option value="red">URGENT</option>
                </select>
                <button id="add">Add +</button>
                <button id="edit" class="hide">Edit</button>
            </div>
            <div class="card-text">
                <ul></ul>
            </div>
        </div>
    </div> -->
</body>
</html>